<html>
  <head>
    <meta charset='utf-8'>
  </head>
  <body>
     <div id='container'>
        <h1 id='app'></h1>
        <img src='img/hello.jpg'>
        <div id='logo'></div>
        <div id='app-2'>
          <span v-bind:title='message'>
            hover your mouse over me
          </span>
        </div>
        <p v-if='seen'> now you see me</p>
        <ul>
          <li v-for='item in items'>
            {{item.text}}
          </li>
        </ul>
        <div>
          {{content}}
          <button v-on:click='reverseContent'>
            reverse
          </button>
        </div>
     </div>
     <script src='bundle.js'></script>
  </body>
</html>
